<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets async="true">
		<target type="Console" name="ConsoleTarget"
		        layout="[${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="ConsoleTarget" />
	</rules>
</nlog>